/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#logout {
    font-size: medium;
    position: static;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding-left: 30px;
    padding-right: 30px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.topleft {
    position: absolute;
    top: 26px;
    left:45px;
    font-size: 18px;
}



#head-logo {
    transition: margin-left .5s;
    padding: 25px;
}

#logo {
    width: 200px;
    height: 50px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#search {
    margin-bottom: 5px;
}

#opcion-mapa-lista {
    padding-left: 45px;
    padding-right: 45px;
}

#mapa {
    margin-top: 5px;
    width: 90%;
    height: 90%;
}


@media screen and (min-width: 0px) and (max-width: 415px) {
    .oculto { display: none !important; }
}


.user_foto {
    /*border-radius: 200px;*/
    width: 100%;
    /*margin: 0px 10px 0px 10px;*/
}

body {
    background-color: #F3F3F3;
}

.user-container {
    margin: auto;
    max-width: 1200px;
    background-color: white;
}

.user-info {
    padding: 5%;
}


.info {
    font-size: 18px;
}

@media screen and (min-width: 0px) and (max-width: 570px) {
    .texto-info { margin-top: 20px; }
}

.boton-foto {
    position: absolute;
    bottom: 2px;
    left: 18px;
    margin: 2%;
    border-radius: 200px;
    font-weight: bolder;
    color: white;
}

body {
    color: black;
}