h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#search {
    margin-bottom: 5px;
}

#opcion-mapa-lista {
    padding-left: 45px;
    padding-right: 45px;
}

#mapa {
    margin-top: 5px;
    width: 90%;
    height: 90%;
}


@media screen and (min-width: 0px) and (max-width: 415px) {
    .oculto { display: none !important; }
}


.user_foto {
    /*border-radius: 200px;*/
    width: 100%;
    /*margin: 0px 10px 0px 10px;*/
}

body {
    background-color: #F3F3F3;
}

.user-container {
    margin: auto;
    max-width: 1200px;
    background-color: white;
}

.user-info {
    padding: 5%;
}


.info {
    font-size: 18px;
}

@media screen and (min-width: 0px) and (max-width: 570px) {
    .texto-info { margin-top: 20px; }
}

.boton-foto {
    position: absolute;
    bottom: 2px;
    left: 18px;
    margin: 2%;
    border-radius: 200px;
    font-weight: bolder;
    color: white;
}

body {
    color: black;
}