<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nuevo local</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="../static/create_local.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='create_local.css')}}">
</head>

<body>
  <div class="container" >
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 col-md-8 col-10">
        <h1>NUEVO LOCAL</h1>
        <br>

        {% with mensaje = get_flashed_messages(category_filter=["exito_local"]) %}
        {% if mensaje %}
        <div class="alert alert-success" role="alert">
          {%- for men in mensaje %}
          <p>{{men | safe}}</p>
          {% endfor -%}
        </div>
        {% endif %}
        {% endwith %}

        <form id="form-createLocal">
          <div class="form-group">
                <label for="nombre">Nombre del local</label>
                <input type="text" class="form-control" id="nombre" name="nombre" maxlenght="100">
          </div>
          <div class="form-group">
            <label for="ubicacion">Ubicación del local</label>
            <input type="text" class="form-control" id="ubicacion" name="direccion" maxlength="100" placeholder="Escribe la dirección de tu local...">
          </div>
          <div class="form-group">
            <label for="local">Tipo de local</label>
            <select class="form-control" id="local" name="tipo_local">
              <option value="1" selected>Bar</option>
              <option value="2" >Discoteca</option>
            </select>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="hapertura">Hora de apertura</label>
                <input type="time" class="form-control" id="hapertura" name="horaApertura" maxlength="10">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="hcierre">Hora de cierre</label>
                <input type="time" class="form-control" id="hcierre" name="horaCierre" maxlength="10">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-gruop">
                <label for="tpambiente">Tipo de ambiente</label>
                {% for amb in lista_ambientes %}
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value= "{{amb.id | safe}}" id="casual" name="ambientes">
                  <label class="form-check-label" for="defaultCheck1">
                    {{ amb.ambiente | safe}}
                  </label> 
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="tpmusica">Tipo de música</label>
                {% for mus in lista_musica %}
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value= "{{mus.id | safe}}" id="cocktail" name="musicas">
                  <label class="form-check-label" for="defaultCheck1">
                    {{ mus.musica | safe }}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          
          <br>
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea class="form-control" id="descripcion" rows="8" name="descripcion"></textarea>
          </div>
          <div class="form-group">
            <label for="fprincipal">Foto principal</label>
            <button id="fprincipal" type="button" class="btn btn-secondary btn-sm">+ SUBIR FOTO</button>
          <div class="form-group">
            <label for="fcarta">Foto carta</label>
            <button id="fcarta" type="button" class="btn btn-secondary btn-sm">+ SUBIR FOTO</button>
          </div>  
          </div>
          <div class="text-center">
            <button id="save" type="button" class="btn btn-dark col-3">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyCMqxtH3MtWNmuEq3ITdU0hdN-O3YB3HVY"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='js/create_local.js')}}"></script>
</html>