<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nuevo local</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/create_local.css">
</head>

<body>
  <div class="container" >
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 col-md-8 col-10">
        <h1>NUEVO LOCAL</h1>
        <br>
        <form>
          <div class="form-group">
                <label for="nombre">Nombre del local</label>
                <input type="text" class="form-control" id="nombre">
          </div>
          <div class="form-group">
            <label for="ubicacion">Ubicación del local</label>
            <input type="text" class="form-control" id="ubicacion">
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="hapertura">Hora de apertura</label>
                <input type="time" class="form-control" id="hapertura">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="hcierre">Hora de cierre</label>
                <input type="time" class="form-control" id="hcierre">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-gruop">
                <label for="tpambiente">Tipo de ambiente</label>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="casual">
                  <label class="form-check-label" for="defaultCheck1">
                    Casual
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="cocktail">
                  <label class="form-check-label" for="defaultCheck1">
                    Cocktail
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="internacional">
                  <label class="form-check-label" for="defaultCheck1">
                    Internacional
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="lgbt">
                  <label class="form-check-label" for="defaultCheck1">
                    LGBT
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="underground">
                  <label class="form-check-label" for="defaultCheck1">
                    Underground
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="upscale">
                  <label class="form-check-label" for="defaultCheck1">
                    Upscale
                  </label>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="tpmusica">Tipo de música</label>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="70-80's">
                  <label class="form-check-label" for="defaultCheck1">
                    70-80's
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="cocktail">
                  <label class="form-check-label" for="defaultCheck1">
                    Comercial
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="internacional">
                  <label class="form-check-label" for="defaultCheck1">
                    Electro
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="hiphop">
                  <label class="form-check-label" for="defaultCheck1">
                    Hip Hop, R&B
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="indie">
                  <label class="form-check-label" for="defaultCheck1">
                    Indie
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="jazz">
                  <label class="form-check-label" for="defaultCheck1">
                    Jazz & Blues
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="latino">
                  <label class="form-check-label" for="defaultCheck1">
                    Latino
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="rock">
                  <label class="form-check-label" for="defaultCheck1">
                    Rock
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="techno">
                  <label class="form-check-label" for="defaultCheck1">
                    Techno
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="otro">
                  <label class="form-check-label" for="defaultCheck1">
                    Otro
                  </label>
                </div>
              </div>
            </div>
          </div>
          
          <br>
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea class="form-control" id="descripcion" rows="8"></textarea>
            </select>
          </div>
          <div class="form-group">
            <label for="fprincipal">Foto principal</label>
            <button id="fprincipal" type="button" class="btn btn-secondary btn-sm">+ SUBIR FOTO</button>
          <div class="form-group">
            <label for="fcarta">Foto carta</label>
            <button id="fcarta" type="button" class="btn btn-secondary btn-sm">+ SUBIR FOTO</button>
          </div>  
          </div>
          <div class="text-center">
            <button id="save" type="submit" class="btn btn-dark col-3">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>