<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VAOS | Inicio sesion</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/login_client.css">
</head>

<body class="container">
  <div class="login-container shadow p-3 mb-5 rounded-lg ">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-10 col-md-10 col-10">
        <h1>INICIAR SESION</h1>
        <br>
        <form>        
          <div class="form-group">
            
            <input type="text" class="form-control" id="username" placeholder="Usuario o correo">
          </div>
          <div class="form-group">
            
            <input type="password" class="form-control" id="password" placeholder="Contraseña">
          </div>
          <div>
            <button id="login" type="submit" class="btn btn-dark ">Ingresar</button>
          </div>
          <p></p>
          <div id="signup">
            <a href="">Regístrarse</a></strong></small></label>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="signup-emp">
    <label>Si quieres registrar a tu empresa. Click
    <a href="">aquí</a></strong></small>
    </label>
  </div>
</body>

</html>