<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VAOS</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="principal.css">
</head>

<body>
  <header id="masthead" data-sticky="sticky-scroll-up">
    <div class="row">

      <div class="col-lg-3 col-md-2 col-sm-2 col-3">
        <button class="openbtn topleft" onclick="openNav()">&#9776;</button>
      </div>

      <div class="col-lg-6 col-md-8 col-sm-8 col-6 text-center">
        <div id="head-logo" class="text-center">
          <a href="principal.html">
            <img id="logo" src="logo.png" id="logohead">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-2 col-sm-2 d-none d-sm-block">
        <div id="wrap" class="topright ">
          <form action="" autocomplete="on">
          <input id="search" name="search" type="text" placeholder="Search"><input id="search_submit" value="Rechercher" type="submit">
          </form>
        </div>
      </div>
    </div>

  </header>

    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#">Perfil</a>
      <a href="#">Calendario</a>
      <a href="#">Favoritos</a>
      <a href="#">Ajustes</a>
      <a id="logout" href="#">Cerrar Sesión</a>
    </div>


    <div id="main">

      <div class="btn-group btn-group-toggle btn-block" id="opcion-mapa-lista" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="options" id="option1" checked> Mapa
        </label>
        <label class="btn btn-secondary active">
          <input type="radio" name="options" id="option2"> Lista
        </label>
      </div>
      
      <div>
        <div class="text-center">
          <img id="mapa" src="mapa.png" class="rounded" alt="...">
        </div>

      </div>

    </div>

  <script src="principal.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>

</html>