
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VAOS</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="../static/principal.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='principal.css')}}">
  <!-- <link rel="stylesheet" href="../libs/v6.4.3-dist/ol.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='ol.css')}}">
  
</head>

<body>
  <header id="masthead" data-sticky="sticky-scroll-up">
    <div class="row">

      <div class="col-lg-3 col-md-2 col-sm-2 col-3">
        <button class="openbtn topleft" onclick="openNav()">&#9776;</button>
      </div>

      <div class="col-lg-6 col-md-8 col-sm-8 col-6 text-center">
        <div id="head-logo" class="text-center">
          <a href="/principal">
            <img id="logo" src="../static/img/logo.png" id="logohead">
          </a>
        </div>
      </div>
    </div>
  </header>

  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/profile_cliente">Perfil</a>
    <a href="/calendario">Calendario</a>
    <a href="#">Favoritos</a>
    <a href="#">Ajustes</a>
    <a id="logout" href="/cerrar_sesion">Cerrar sesión</a>
  </div>  
  
  <div id="main" class="container">

    <div class="mt-4">
      <div id="mapa" class="mapa"></div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-12 card-margin">
        <div class="card search-form">
          <div class="card-body p-0">
            <form id="search-form">
              <div class="row">
                <div class="col-12">
                  <div class="row no-gutters">
                        
                    <div class="col-lg-11 col-md-9 col-sm-12 p-0">
                      <input type="text" placeholder="Search..." class="form-control" id="search" name="search">
                    </div>
                    <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                      <button type="submit" class="btn btn-base">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card card-margin">
          <div class="card-body">
            <div class="row search-body">
              <div class="col-lg-12">
                <div class="search-result">
                  <div class="result-header">
                    <div class="row">
                      <div class="col-lg-6">
                                          
                      </div>
                      <div class="col-lg-6">
                        <div class="result-actions">
                          <div class="result-sorting">
                            <span>Sort By:</span>
                            <select class="form-control border-0" id="exampleOption">
                              <option value="1">Relevance</option>
                              <option value="2">Names (A-Z)</option>
                              <option value="3">Names (Z-A)</option>
                            </select>
                          </div>
                          <div class="result-views">
                            <button type="button" class="btn btn-soft-base btn-icon">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-list"
                              >
                                <line x1="8" y1="6" x2="21" y2="6"></line>
                                <line x1="8" y1="12" x2="21" y2="12"></line>
                                <line x1="8" y1="18" x2="21" y2="18"></line>
                                <line x1="3" y1="6" x2="3" y2="6"></line>
                                <line x1="3" y1="12" x2="3" y2="12"></line>
                                <line x1="3" y1="18" x2="3" y2="18"></line>
                              </svg>
                            </button>
                            <button type="button" class="btn btn-soft-base btn-icon">
                              <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-map" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98l4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"/>
                              </svg>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="result-body">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

  </div>

  
  
  <script src="{{ url_for('static', filename='js/principal.js')}}"></script>
  <!-- <script src="../static/js/principal.js"></script> -->
  <!-- <script src="../libs/v6.4.3-dist/ol.js"></script> -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default%22%3E"></script>
 
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMqxtH3MtWNmuEq3ITdU0hdN-O3YB3HVY&callback=initMap&libraries=&v=weekly" defer></script>
 

</html>