<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VAOS</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/profile_company.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header id="masthead" data-sticky="sticky-scroll-up">
    <div class="row">

      <div class="col-lg-3 col-md-2 col-sm-2 col-3">
        <button class="openbtn topleft" onclick="openNav()">&#9776;</button>
      </div>

      <div class="col-lg-6 col-md-8 col-sm-8 col-6 text-center">
        <div id="head-logo" class="text-center">
          <a href="principal.html">
            <img id="logo" src="../static/img/logo.png" id="logohead">
          </a>
        </div>
      </div>
      <!--
      <div class="col-lg-3 col-md-2 col-sm-2 d-none d-sm-block">
        <div id="wrap" class="topright ">
          <form action="" autocomplete="on">
          <input id="search" name="search" type="text" placeholder="Search"><input id="search_submit" value="Rechercher" type="submit">
          </form>
        </div>
      </div>
      -->
    </div>

  </header>

  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/profile_empresa">Perfil</a>
    <a href="/locales">Locales</a>
    <a href="/eventos">Eventos</a>
    <a href="#">Estadísticas</a>
    <a href="#">Ajustes</a>
    <a id="logout" href="/cerrar_sesion">Cerrar sesión</a>
  </div>


  <div id="main">

    <div class="container user-container shadow p-3 mb-5 rounded-lg">
      <div class="row justify-content-center">
        
        
        <div class="col text-center" id="portada">
          <img src="../static/img/user.png" class="user_foto">
          <div>
            <h2><strong>{{empresa.nombre | safe}}</strong></h2>
          </div>
          <div class="row">
            <div class="col">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
                Editar
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Editar perfil</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      
                      <form id ="formulario" method="POST">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label for="nombre">Nombre</label>
                              <input type="text" class="form-control" id="nombre" name="nombre">
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label for="correo">Correo</label>
                              <input type="email" class="form-control" id="correo" placeholder="name@example.com" name="correo">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label for="telefono">Télefono</label>
                              <input type="text" class="form-control" id="telefono" name="telefono">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label for="nombres">Redes Sociales</label>
                                <div class="row">
                                  <div class="col">
                                    <input type="text" class="form-control" id="facebook" name="facebook" placeholder="Facebook">
                                  </div>
                                  <div class="col">
                                    <input type="text" class="form-control" id="instagram" name="instagram" placeholder="Instagram">
                                  </div>
                                </div>
                                <br>
                                <div class="row">
                                  <div class="col-6">
                                    <input type="text" class="form-control" id="twitter" name="twitter" placeholder="Twitter">
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-primary">Guardar cambios</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row user-info">
        <div class="col-sm-4 col-12 texto-info">
          <div class="seguidos text-center">
            <small class="text-muted"> Seguidores </small>
            <h2>{{clientes | safe}}</h2>
          </div>
        </div>

        <div class="col-sm-4 col-12 texto-info">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Información <br>
          <small class="text-muted">Correo: </small><small class="text-muted">{{empresa.correo}}</small> <br>
          <small class="text-muted">RUC: </small><small class="text-muted">{{empresa.ruc}}</small> <br>
          <small class="text-muted">Teléfono: </small><small class="text-muted">{{empresa.telefono}}</small> <br><br>
        </div>

        <div class="col-sm-4 col-12 texto-info">
          <i class="fa fa-share-alt" aria-hidden="true"></i> Redes Sociales <br>
          <i class="fa fa-instagram" aria-hidden="true"></i> <small class="text-muted"> @username</small> <br>
          <i class="fa fa-facebook-official" aria-hidden="true"></i> <small class="text-muted">@username</small>
          <br><br>
        </div>

        
      </div>

      <div class="row  justify-content-center">
        <h4 class="text-local">
          <span>LOCALES</span>
        </h4>
      </div>

      <div class="container py-4">
        <div class="card-deck-wrapper">
            <div class="card-deck">

              {% for local in locales %}
                <div class="card p-4">
                    <a class="card-block stretched-link text-decoration-none text-reset" href="/">
                        <h4 class="card-title">{{ local.nombre | safe }}</h4>
                        <p class="card-text">{{ local.descripcion | safe }}</p>
                    </a>
                </div>
                {% endfor %}

                <!-- <div class="card p-4">
                    <a class="card-block stretched-link text-decoration-none text-reset" href="/">
                        <h4 class="card-title">MIA</h4>
                        <p class="card-text">Jirón Monterrey 170, Santiago de Surco 15038</p>
                    </a>
                </div>
                <div class="card p-4">
                    <a class="card-block stretched-link text-decoration-none text-reset" href="/">
                        <h4 class="card-title">MR FISH</h4>
                        <p class="card-text">calle 7 , 8050 urb. Pro 2da estapa Lima, 15307</p>
                    </a>
                </div> -->
            </div>
        </div>
      </div>

      </div>
    </div>

  </div>

  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; VAOS</small>
    </div>
  </footer>

  

  <script src="../static/js/principal.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>