<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VAOS</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/profile_client.css">
</head>

<body>
  <header id="masthead" data-sticky="sticky-scroll-up">
    <div class="row">

      <div class="col-lg-3 col-md-2 col-sm-2 col-3">
        <button class="openbtn topleft" onclick="openNav()">&#9776;</button>
      </div>

      <div class="col-lg-6 col-md-8 col-sm-8 col-6 text-center">
        <div id="head-logo" class="text-center">
          <a href="/principal">
            <img id="logo" src="../static/img/logo.png" id="logohead">
          </a>
        </div>
      </div>
      <!--
      <div class="col-lg-3 col-md-2 col-sm-2 d-none d-sm-block">
        <div id="wrap" class="topright ">
          <form action="" autocomplete="on">
          <input id="search" name="search" type="text" placeholder="Search"><input id="search_submit" value="Rechercher" type="submit">
          </form>
        </div>
      </div>
      -->
    </div>

  </header>

  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/profile_cliente">Perfil</a>
    <a href="/calendario">Calendario</a>
    <a href="#">Favoritos</a>
    <a href="#">Ajustes</a>
    <a id="logout" href="/cerrar_sesion">Cerrar sesión</a>
  </div>


    <div id="main">

      <div class="container user-container shadow p-3 mb-5 rounded-lg">
        <div class="row user-info">
          <div class="col-sm-6 col-12 text-center">
            <img src="../static/img/user.png" alt="" class="user_foto">
            <button type="button" class="btn btn-dark boton-foto">+</button>
          </div>
          

          {% for us in usuario %}
          <div class="col-sm-6 col-12 texto-info">

            <div class="row">
              <div class="col-8">
                <h2>{{ us.nombre | safe}} {{ us.apellido | safe}}</h2>
              </div>
              <div class="col-4">
                <div class="seguidos text-center">
                  <small class="text-muted"> Seguidos </small>
                  <h2>{{ seguidos }}</h2>
                </div>
              </div>
            </div>

            <small class="text-muted">Usuario: </small><small class="text-muted">{{ us.nombre_usuario | safe}}</small> <br>
            <small class="text-muted">Correo: </small><small class="text-muted">{{ us.correo | safe}}</small> <br><br>
            
            <!--
            <p>Fecha de nacimiento: <small>05/09/1999</small></p>
            <p>Nacionalidad: <small>05/09/1999</small></p>
            <p>Género: <small>05/09/1999</small></p>
            -->
            <div class="info">
              <small>Fecha de nacimiento: </small> <small>{{ us.fecha_nacimiento | safe}}</small> <br>
              <small>Nacionalidad: </small> <small>(Poner Nacionalidad)</small> <br>
              {% if us.genero == 1 %}
                <small>Género: </small> <small>Masculino</small>
                {% endif %}
              {% if us.genero == 2 %}
                <small>Género: </small> <small>Femenino</small>
                {% endif %}
            </div>
            {% endfor %}
            

          </div>
        </div>
  
      </div>

    </div>

    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
      <div class="container text-center">
        <small>Copyright &copy; VAOS</small>
      </div>
    </footer>

  <script src="../static/js/principal.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>

</html>