<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro cliente</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/signup_client.css">
</head>

<body>
  <div class="container" >
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 col-md-8 col-10">
        <h1>REGISTRATE</h1>
        <br>
        <form id ="formulario" action="/registrar_regular" method="POST">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label for="nombres">Nombres</label>
                <input type="text" class="form-control" id="nombres" name="nombres">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label for="apellidos">Apellidos</label>
                <input type="text" class="form-control" id="apellidos" name="apellidos">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="fnacimiento">Fecha de nacimiento</label>
                <input type="date" class="form-control" id="fnacimiento" name="nacimiento" min="1900-01-01">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="nacionalidad">Nacionalidad</label>
                <select class="form-control select-client" id="nacionalidad" name="nacionalidad">
                  <option>Perú</option>
                  <option>Brasil</option>
                  <option>Chile</option>
                  <option>USA</option>
                  <option>Argentina</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="genero">Género</label>
            <select class="form-control select-client" id="genero" name="genero">
              <option value="1">Masculino</option>
              <option value="2">Femenino</option>
              <option>Otros</option>
            </select>
          </div>
          <div class="form-group">
            <label for="correo">Correo</label>
            <input type="email" class="form-control" id="correo" placeholder="name@example.com" name="correo">
          </div>
          <div class="form-group">
            <label for="username">Nombre de usuario</label>
            <input type="text" class="form-control" id="username" name="nombre_usuario">
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label for="password">Repetir contraseña</label>
                <input type="password" class="form-control" id="rpassword">
              </div>
            </div>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="terminos">
            <label class="form-check-label" for="terminos"><small>Acepto <strong><a href="">Términos y
                    condiciones</a></strong></small></label>
          </div>
          <button id="signup" type="submit" class="btn btn-dark" disabled>Registrar</button>
        </form>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../js/signup_client.js"></script>
</body>

</html>